{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", {}]],
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
